.home .header--primary {
  .logo {
    color: $font-color-secondary;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $font-color-secondary;
    }
  }
}

.logo {
  color: $font-color-primary;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $font-color-primary;
  }
}

.logo__text {
  font-family: $font-primary;
  @include addREM(padding-left, 10);
  @include font-size(20, 24);
}
