.nav__button {
  background: none;
  border: none;
  @include addREM(padding, 10, 20);
  cursor: pointer;
}

.nav--primary {
  display: none;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;

  a {
    @include font-size(20);
    @include addREM(padding, 10);
    font-weight: 900;
    display: block;
  }
}

html.nav-open,
.nav-open body {
  height: 100%;
  overflow: hidden;
}

.nav-open {
  .nav--primary {
    display: flex;
    animation: animateNav 0.3s 1;
  }

  ul {
    position: relative;
    top: -40px;
    animation-name: slideNav;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }

  li {
    animation: animateNav 0.4s 1;
  }
}

@keyframes slideNav {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

@keyframes animateNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav__close {
  position: absolute;
  top: 30px;
  right: 40px;
  @include font-size(30, 30);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
