.property-tile {
  position: relative;
  @include addREM(padding, 20);

  &:before {
    content: '';
    position: absolute;
    border: 1px solid $brand-secondary;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40px;
    z-index: -1;
  }

  img {
    vertical-align: middle;
  }
}

.slick-slide {
  .property-tile {
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      background-color: $bg-overlay;
    }
  }
}

.slick-active {
  .property-tile {
    &:after {
      opacity: 0;
    }
  }
}
.property-tile__content {
  background-color: rgba($brand-three, 0.95);
  position: absolute;
  top: 70px;
  left: 50px;
  @include addREM(padding, 15);
  width: 100%;
  max-width: 310px;
}

@media (max-width: 767px) {
  .property-tile {
    padding: 0;

    &:before {
      left: 0;
    }

    &:after {
      display: none;
    }
  }

  .property-tile__content {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }
}

.property-tile__link {
  color: $font-color-tertiary;

  &:hover {
    color: $font-color-tertiary;
  }
}
