.search {
  .search-field {
    background-color: transparent;
    @include addREM(padding, 10);
    width: 100%;
  }
}

.home {
  .search--primary {
    .search-field {
      border: 1px solid $font-color-secondary;

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $font-color-secondary;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $font-color-secondary;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $font-color-secondary;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $font-color-secondary;
      }
    }
  }
}

.search--primary {
  width: 100%;
  max-width: 240px;
  float: right;

  .search-field {
    color: $font-color-secondary;
    border: 1px solid $font-color-primary;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $font-color-primary;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $font-color-primary;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $font-color-primary;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $font-color-primary;
    }
  }

  .search-submit {
    display: none;
  }
}

.search--secondary {
  label {
    width: 100%;
    max-width: 330px;
  }

  .search-form {
    display: flex;
    justify-content: flex-end;
  }

  .search-field {
    border: 1px solid #979797;
  }

  .search-submit {
    background-color: $brand-four;
    color: $font-color-secondary;
    @include addREM(padding, 10);
    border: 1px solid $brand-four;
    transition: 0.3s background-color;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($brand-four, 10%);
    }
  }
}

@media (max-width: 767px) {
  .search-mob-clear-helper {
    clear: both;
    @include addREM(padding-top, 10);
  }
}
