.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bg-overlay;
  }
}

//flex helpers
.flex-100 {
  flex: 1 1 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

//font weights, colors, alignments

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.primary-font-color {
  color: $font-color-primary;
}

.secondary-font-color {
  color: $font-color-secondary;

  &:hover,
  &:focus,
  &:active {
    color: $font-color-secondary;
  }
}

//brand backgrounds

.primary-brand-bg {
  background-color: $brand-primary;
}

//max width constraint

.max-width-wrapper {
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
//spacing helpers

.spacing-lg {
  @include addREM(padding-top, 65);
  @include addREM(padding-bottom, 65);
}

.spacing-lg--top-only {
  @include addREM(padding-top, 65);
}

.spacing-lg--btm-only {
  @include addREM(padding-bottom, 65);
}

.spacing-md {
  @include addREM(padding-top, 40);
  @include addREM(padding-bottom, 40);
}

.spacing-md--top-only {
  @include addREM(padding-top, 40);
}

.spacing-md--btm-only {
  @include addREM(padding-bottom, 40);
}

.spacing-sm {
  @include addREM(padding-top, 20);
  @include addREM(padding-bottom, 20);
}

.spacing-sm--top-only {
  @include addREM(padding-top, 20);
}

.spacing-sm--btm-only {
  @include addREM(padding-bottom, 20);
}

.spacing-xs {
  @include addREM(padding-top, 10);
  @include addREM(padding-bottom, 10);
}

.spacing-xs--top-only {
  @include addREM(padding-top, 10);
}

.spacing-xs--btm-only {
  @include addREM(padding-bottom, 10);
}
